.navbar {
  border-bottom: 3px solid #14a857; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  padding: 10px 80px 10px 80px;
  background-color: #f8fbf9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.logo {
  width: 160px;
  height: 62px;
}

#nav-links {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #087c3c; 
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.underline {
  width: 50%;
  height: 1.5px;
  background-color: #0e9149; 
  display: none;
  margin: auto;
}

@media (max-width: 785px) {
  #nav-links {
    display: none;
  }
}
